thead{
    background: $color-bg-dark;
    color: $color-bg-light;
}

.team-name-area{
    position: relative;
    margin-top: -24px;
    background-image: -moz-linear-gradient(right,$color-bg-dark,$color-bg-light);
    background-image: -webkit-linear-gradient(right,$color-bg-dark,$color-bg-light);
    
}

.team-name-area-content{
    padding: 20px 5px;
}
.team-name-area-content h2{
    font-size: 30px;
    font-weight: 500;
    // color: white;

}




// team-nav-area start

.team-nav-area{
    position: relative;
    z-index: 999;
    background-image: -moz-linear-gradient(left,$color-bg-dark,$color-bg-light);
    background-image: -webkit-linear-gradient(left,$color-bg-dark,$color-bg-light);
    
}

.team-nav-area-content{
    display: inline-block;
    
}

.team-nav-area-content ul{
    list-style: none;
    padding: 0;
}

.team-nav-area-content ul li{
    display: inline-block;
}

.team-nav-area-content ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;

}


@media (max-width:520px){
   
    .team-nav-area-content ul li a{
        padding: 15px 10px;
        // background: orange;
        border-right: 1px solid white; 
    }

    
}

// team-nav-area end