{% extends "bcc/base.html" %}

{% block content %}
<!-- pointsTable-area start -->

<div class="pointsTable-area laptop">
    <div class="container">
        <table class="table table-striped">
            <thead style="background:#6f6f6f;color:#f6f6f6">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Team</th>
                <th scope="col">Match</th>
                <th scope="col">Won</th>
                <th scope="col">Lost</th>
                <th scope="col">Draw</th>
                <th scope="col">Pts</th>
                <th scope="col">NRR</th>
              </tr>
            </thead>

            <tbody>
{% for i in points %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ i.team_id.team_name }}</td>
                <td>{{ i.matches }}</td>
                <td>{{ i.won }}</td>
                <td>{{ i.lost }}</td>
                <td>{{ i.draw }}</td>
                <td>{{ i.pts}}</td>
                <td>{{ i.nrr }}</td>
              </tr>
{% endfor %}            
             
            </tbody>
          </table>
    </div>
  </div>

 <div class="pointsTable-area mobile">
    <div class="container-fluid">
        <table class="table table-striped">
            <thead style="background:#6f6f6f;color:#f6f6f6">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Team</th>
                <th scope="col">M</th>
                <th scope="col">W</th>
                <th scope="col">L</th>
                <th scope="col">D</th>
                <th scope="col">Pts</th>
                <th scope="col">NRR</th>
              </tr>
            </thead>

            <tbody>
{% for i in points %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ i.team_id.team_id }}</td>
                <td>{{ i.matches }}</td>
                <td>{{ i.won }}</td>
                <td>{{ i.lost }}</td>
                <td>{{ i.draw }}</td>
                <td>{{ i.pts}}</td>
                <td>{{ i.nrr }}</td>
              </tr>
{% endfor %}            
             
            </tbody>
          </table>
    </div>
  </div>


<!-- pointsTable-area end -->

  

{% endblock content %}