{% extends "bcc/base.html" %}

{% block content %}
<!-- pointsTable-area start -->
<div class="pointsTable-area laptop">
    <div class="container">
        <table class="table">
            <thead style="background:#6f6f6f;color:#f6f6f6">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Team</th>
                <th scope="col">Match</th>
                <th scope="col">Won</th>
                <th scope="col">Lost</th>
                <th scope="col">Draw</th>
                <th scope="col">Pts</th>
                <th scope="col">NRR</th>
              </tr>
            </thead>

            <tbody>

              <tr>
                <th scope="row">1</th>
                <td>Royal Challengers Banglore</td>
                <td>5</td>
                <td>4</td>
                <td>1</td>
                <td>0</td>
                <td>8</td>
                <td>+.899</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Delhi Capitals</td>
                <td>5</td>
                <td>4</td>
                <td>1</td>
                <td>0</td>
                <td>8</td>
                <td>+.899</td>
              </tr>
             
            </tbody>
          </table>
    </div>
  </div>

  <div class="pointsTable-area mobile">
    <div class="container">
      <table class="table">
          <thead style="background:#6f6f6f;color:#f6f6f6">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Team</th>
              <th scope="col">M</th>
              <th scope="col">W</th>
              <th scope="col">L</th>
              <th scope="col">D</th>
              <th scope="col">Pts</th>
              <th scope="col">NRR</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <th scope="row">1</th>
              <td>Royal Challengers Banglore</td>
              <td>5</td>
              <td>4</td>
              <td>1</td>
              <td>0</td>
              <td>8</td>
              <td>+.899</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Delhi Capitals</td>
              <td>5</td>
              <td>4</td>
              <td>1</td>
              <td>0</td>
              <td>8</td>
              <td>+.899</td>
            </tr>
           
          </tbody>
        </table>
  </div>
</div>

<!-- pointsTable-area end -->

  

{% endblock content %}