{% extends "bcc/base.html" %}

{% block content %}
        <div class="schedule-area">
    <div class="container-fluid">
        <table class="table table-striped">
            <thead style="background:#6f6f6f;color:#f6f6f6">
              <tr>
                <th scope="col">M_no</th>
                <th scope="col">Team</th>
                <th scope="col">vs</th>
                <th scope="col">Team</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>
              </tr>
            </thead>

            <tbody>
{% for i in matches %}
               <tr>
                <th scope="row">{{ i.match_id }}</th>
                <td>{{ i.team_1 }}</td>
                <td>vs</td>
                <td>{{ i.team_2 }}</td>
                <td>{{ i.dates }}</td>
                <td>{{ i.times }}</td>
              </tr>
{% endfor %}
              <!-- <tr>
                <th scope="row">1</th>
                <td>RCB</td>
                <td>vs</td>
                <td>SRH</td>
                <td>12-10-2019</td>
                <td>4:00 PM</td>
              </tr>

              <tr>
                <th scope="row">1</th>
                <td>RCB</td>
                <td>vs</td>
                <td>SRH</td>
                <td>12-10-2019</td>
                <td>4:00 PM</td>
              </tr> -->
             
            </tbody>
          </table>
    </div>
  </div>
{% endblock content %}