{% extends "bcc/teamsDetail.html" %}


{% block detail %}
    <div class="schedule-area laptop">
  <div class="container">
      <table class="table table-striped table-responsive-xs table-xs">
         <thead>
            <tr>
              <th scope="col">Match</th>
              <th scope="col">Team</th>
              <th scope="col">vs</th>
              <th scope="col">Team</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
      <tbody>
{% for i in t_schedule1 %}
              <tr>
              <th scope="row">{{ i.match_id }}</th>
              <td>{{ i.team_1 }}</td>
              <td>{{ t_id }}</td>
              <td>{{ i.team_2 }}</td>
              <td>{{ i.dates|date:'d-m'}}</td>
              <td>{{ i.times }}</td>
            </tr>
{% endfor %}
{% for j in t_schedule2 %}
             <tr>
              <th scope="row">{{ j.match_id }}</th>
              <td>{{ j.team_1 }}</td>
              <td>vs</td>
              <td>{{ j.team_2 }}</td>
              <td>{{ j.dates|date:'d-m'}}</td>
              <td>{{ j.times }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
  </div>
</div>

  <div class="schedule-area mobile">
    <div class="container-fluid p-0">
        <table class="table table-striped table-responsive-xs table-xs">
            <thead>
              <tr>
                <th scope="col">M</th>
                <th scope="col">T</th>
                <th scope="col">vs</th>
                <th scope="col">T</th>
                <th scope="col">D</th>
                <th scope="col">T</th>
              </tr>
            </thead>

            <tbody>
{% for i in t_schedule1 %}
               <tr>
                <th scope="row">{{ i.match_id }}</th>
                <td>{{ i.team_1 }}</td>
                <td>vs</td>
                <td>{{ i.team_2 }}</td>
                <td>{{ i.dates|date:'d-m'}}</td>
                <td>{{ i.times }}</td>
              </tr>
{% endfor %}
{% for j in t_schedule2 %}
             <tr>
              <th scope="row">{{ j.match_id }}</th>
              <td>{{ j.team_1 }}</td>
              <td>vs</td>
              <td>{{ j.team_2 }}</td>
              <td>{{ j.dates|date:'d-m'}}</td>
              <td>{{ j.times }}</td>
            </tr>
{% endfor %}
            </tbody>
          </table>
    </div>
  </div>
{% endblock detail %}
