{% extends "bcc/base.html" %}


{% block content %}
<!-- teams-area start -->
    <div class="teams-area">
        <div class="container">
            <div class="row">
{% for i in team_name %}

                <div class="col-md-3 mb-4 teams-area-wrapper">
                    <a href="#">
                    <div class="teams-area-content text-center bg-1">
                        <h4>{{ i.team_name }}</h4>
                        <p>winner : {{ i.winner }} times</p>
                        <button>Home</button>
                    </div>
                    </a>
                </div>
{% endfor %}
            </div>
        </div>
    </div>

<!-- teams-area end -->

 



{% endblock %}