{% extends "bcc/base.html" %}


{% block content %}
     <!-- team-name-area start -->
     <div class="team-name-area ">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="team-name-area-content">
                         {% for i in p_team_detail %}
                              <h2>{{ i.team_name }}</h2>
                         {% endfor %}
                         </div>
                    </div>
               </div>

          </div>

     </div>
     <!-- team-name-area end -->

     <!-- team-nav-area start -->
     
     <div class="team-nav-area">
          <div class="container">
               <div class="team-nav-area-content">
               <ul>
                    {% for j in p_team_detail %}
                    <li><a href="{% url 'team-players'  t_id=j.team_id %}">Players</a></li>
                    <li><a href="{% url 'team-schedule' t_id=j.team_id %}">Schedule</a></li>
                    <li><a href="{% url 'team-results' t_id=j.team_id %}">Results</a></li>
                    <li><a href="{% url 'team-stats' t_id=j.team_id %}">Stats</a></li>
                    {% endfor %}
               </ul>
               </div>
          </div>
     </div>
     {% block detail %}
       
     {% endblock detail %}
     
     <!-- team-nav-area end -->
{% endblock content %}  